<h5>You are already seeing a live demo up there</h5>

<h4>Default</h4>
<div>
  <code [innerText]="'<ap-app-bar logo=&quot;/assets/img/boneare-logo.png&quot;></ap-app-bar>'"></code>
</div>

<h4>Implemented with <a routerLink="/navigation-drawer">navigation drawer</a></h4>
<div>
  <code [innerText]="'<ap-app-bar #appBar
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;logo=&quot;/assets/img/boneare-logo.png&quot;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;(navigationButton)=&quot;isNavigationDrawerOpen = !isNavigationDrawerOpen;&quot;></ap-app-bar>'"></code>
</div>


