/* You can add global styles to this file, and also import other style files */
@import "../projects/apoe-ui/src/lib/apoe-ui.theme";

$theme: (
  primary-color-name: 'blue',
  primary-color-hue: '500',
  accent-color-name: 'pink',
  accent-color-hue: '500',
  dark: false
);

@include ap-theme($theme);

code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  margin-top: 8px;
  overflow-y: auto;
  white-space: nowrap;
}
