/* You can add global styles to this file, and also import other style files */
@import "../projects/apoe-ui/src/lib/apoe-ui.theme";

$theme: (
  primary-color-name: 'blue',
  primary-color-hue: '500',
  accent-color-name: 'pink',
  accent-color-hue: '500',
  dark: false
);

@include ap-theme($theme);
